@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto+Mono:wght@400;600&display=swap');
@font-face {
  font-family: 'Graphik';
  src: url('/assets/Graphik-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url('/assets/Graphik-Semibold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
.navbar {
  box-sizing: border-box;
  z-index: 1;
  position: sticky;
  top: 0;
  height: 56px;
  width: 100%;
  background: var(--light, #f0eeeb);
  padding: 0 24px;
  display: flex;
  align-items: center;

  > * {
    font-weight: bold;
    font-family: 'Graphik';
    text-decoration: none;
    color: black;
    margin-right: 24px;

    > img {
      filter: var(--logo);
      height: 20px;
    }

    &:nth-child(5) {
      margin-left: auto;
    }

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      opacity: 0.7;
    }
  }
}
